<div class="imgfooter">
<div class="divspace">

</div>
  <div class="row my-5 mx-5 bodyrow d-flex justify-content-center align-items-center my-5">

    <div class="col-2"> 
      <h3>Seguici</h3>
      <ul class="list-unstyled">
        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      </ul>
    </div>

    <div class="col-2">
      <h3>Contatti</h3>
      <ul class="list-unstyled">
        <li><i class="fa fa-location-arrow fa-lg" aria-hidden="true"></i>:  Via del Commercio, 123</li>
        <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i>:  +123 456 789</li>
        <li><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>:  info tuoecommerce.com </li>
      </ul>
    </div>

    <div class="col-2">
      <h3>Link Utili</h3>
      <ul class="list-unstyled">
        <li><a href="#">Termini e Condizioni</a></li>
        <li><a href="#">Politica sulla Privacy</a></li>
        <li><a href="#">Spedizioni e Resi</a></li>
      </ul>
    </div>
  </div>
</div>
