<div class="imgheader">
</div>

<section class="container" >

    <div class="content-header">
        <h2 class="content-title text-center my-4">Catagolo Admin</h2>
        <div class="text-center my-4">
            <a href="#" class="btn btn-outline-orange mx-2">Esporta</a>
            <a href="#" class="btn btn-outline-orange mx-2">Importa</a>
        </div>
    </div>

        <div class="container">
            <app-articoli-grid >
            
            </app-articoli-grid>
        </div>
      
</section>